.g-form {
  height: 2700px;
}

.map {
  height: 50vh;
}

.ig-b- {
  display: inline-block;
}
.ig-b- img {
  visibility: hidden;
}
.ig-b-:hover {
  background-position: 0 -60px;
}
.ig-b-:active {
  background-position: 0 -120px;
}
.ig-b-48 {
  width: 48px;
  height: 48px;
  background: url(http://badges.instagram.com/static/images/ig-badge-sprite-48.png)
    no-repeat 0 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2 / 1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .ig-b-48 {
    background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-48@2x.png);
    background-size: 60px 178px;
  }
}

@media (min-width: 576px) {
  .g-form {
    height: 2260px;
  }
}

@media (min-width: 768px) {
  .g-form {
    height: 2200px;
  }
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.gsc-control-cse {
  background-color: #0000 !important;
  border: #0000 !important;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: 0.75rem;
}

.icon-link {
  display: inline-flex;
  align-items: center;
}
.icon-link > .bi {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  transition: transform 0.25s ease-in-out;
  fill: currentColor;
}
.icon-link:hover > .bi {
  transform: translate(0.25rem);
}

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 0.75rem;
}

.rounded-4 {
  border-radius: 0.5rem;
}
.rounded-5 {
  border-radius: 1rem;
}

.text-shadow-1 {
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}
.text-shadow-2 {
  text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
.text-shadow-3 {
  text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
